.background {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: -2;
}

.square {
  height: 100vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.circle {
  height: 100vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0 0 32px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 24px;
  padding: 40px;
  align-items: center;
  overflow: auto;
}

.container::-webkit-scrollbar-track {
  display: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar-thumb {
  display: none;
}

@media screen and (max-width: 500px) {
  .container::-webkit-scrollbar-track {
    background-color: unset;
    height: 6px;
    margin: 40px;
    transition: all 0.25s ease-in-out;
  }

  .container::-webkit-scrollbar-track:hover {
    background: var(--scrollbar-bg-hover);
    height: 10px;
    margin: 40px;
    border-radius: 3px;
  }

  .container::-webkit-scrollbar {
    height: 6px;
    background-color: unset;
  }

  .container::-webkit-scrollbar-thumb {
    height: 6px;
    border-radius: 3px;
    background: var(--scrollbar-bg);
    transition: all 0.25s ease-in-out;
  }

  .container::-webkit-scrollbar-thumb:hover {
    height: 10px;
    border-radius: 3px;
    background: var(--scrollbar-bg);
  }
}

@media screen and (min-width: 500px) {
  .container::-webkit-scrollbar-track {
    background-color: unset;
    height: 6px;
    margin: 40px;
  }

  .container::-webkit-scrollbar {
    height: 6px;
    background-color: unset;
  }

  .container::-webkit-scrollbar-thumb {
    height: 6px;
    border-radius: 3px;
    background: unset;
  }

  .container::-webkit-scrollbar-thumb:hover {
    height: 6px;
    border-radius: 3px;
    background: unset;
  }
}

.card {
  background-color: var(--card-bg);
  opacity: 1;
  border-radius: 16px;
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;
  width: 256px;
  height: 224px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

#content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 18px;
}

.card-title {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 4px;
}

h1 {
  font-family: CJSBold;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 2px;
  margin: 0;
  color: var(--font-color);
}

h2 {
  font-family: CJSBold;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0;
  color: var(--font-color);
}

h3 {
  font-family: CJS;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0;
  color: var(--font-color);
}

h3[aquatic-ui] {
  font-family: CJS;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0;
  color: var(--font-color);
  width: 274px;
}

p {
  font-family: MiSans;
  font-weight: normal;
  font-size: 14px;
  color: var(--font-color);
  opacity: 0.75;
  margin: 0;
}

path#logo {
  fill: var(--theme-primary);
}

path#logo-passport {
  fill: var(--theme-primary);
}

path#logo-skii {
  fill: #fe7800;
}

path#logo-github {
  fill: var(--github-primary);
}

button {
  cursor: pointer;
}

button[primary] {
  background-color: var(--theme-primary);
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: MiSans;
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  min-width: 96px;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

button[primary]:hover {
  background-color: var(--theme-primary-hover);
  font-weight: 500;
}

button[secondary] {
  background-color: var(--btn-sec-bg);
  border-radius: 6px;
  border: none;
  color: var(--font-color);
  font-family: MiSans;
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  min-width: 96px;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

button[secondary]:hover {
  background-color: var(--btn-sec-hover-bg);
  font-weight: 500;
}

button[secondary-aquatic-ui] {
  background-color: var(--btn-sec-bg);
  border-radius: 6px;
  border: none;
  color: var(--font-color);
  font-family: MiSans;
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  min-width: 96px;
  width: 100%;
}

button[primary-skii] {
  background-color: #fe7800;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: MiSans;
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  min-width: 96px;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

button[primary-skii]:hover {
  background-color: var(--skii-primary-hover);
  font-weight: 500;
}

button[primary-bili] {
  background-color: #fb7299;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: MiSans;
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  min-width: 96px;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

button[primary-bili]:hover {
  background-color: var(--bili-primary-hover);
  font-weight: 500;
}

button[primary-wonderfile] {
  background-color: #ffbb54;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: MiSans;
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  min-width: 96px;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

button[primary-wonderfile]:hover {
  background-color: var(--wonderfile-primary-hover);
  font-weight: 500;
}

button[primary-github] {
  background-color: var(--github-primary-btn);
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: MiSans;
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  min-width: 96px;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

button[primary-github]:hover {
  background-color: var(--github-primary-btn-hover);
  font-weight: 500;
}

.qrcode {
  /* transform: scale(1,0); */
  position: fixed;
  transition: all 0.25s ease-in-out;
  padding: 24px;
  background-color: var(--card-bg-hover);
  opacity: 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 16px;
  width: 256px;
  height: 224px;
  top: 0;
  left: 0;
  color: var(--font-color);

  img {
    border-radius: 4px;
  }
}

.qrcode:hover,
.qrcode:focus,
.qrcode:active {
  /* transform: scale(1,1); */
  opacity: 1;
  top: 0px;
}

.buttonbox {
  display: flex;
  width: 100%;
  gap: 8px;
  box-sizing: border-box;
  width: 256px;
}
