@media screen and (max-width: 500px) {
  .square {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;

    img {
      width: 150%;
    }
  }

  .circle {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    img {
      width: 150%;
    }
  }
}

@media screen and (min-width: 500px) {
  .square {
    height: 100vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;

    img {
      width: 100%;
    }
  }

  .circle {
    height: 100vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    img {
      width: 100%;
    }
  }
}

.background {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: -20;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 24px;
  padding: 40px;
  align-items: center;
  overflow: auto;
}

.container::-webkit-scrollbar-track {
  display: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar-thumb {
  display: none;
}

@media screen and (max-width: 500px) {
  .container {
    scroll-snap-type: x mandatory;
  }

  .card {
    scroll-snap-align: center;
  }
}

@media screen and (min-width: 500px) {
  .container {
    scroll-snap-type: none;
  }

  .card {
    scroll-snap-align: none;
  }
}

.card {
  background-color: var(--card-bg);
  opacity: 1;
  border-radius: 16px;
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  width: 256px;
  height: 224px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

#content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 18px;
}

.card-title {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 4px;
}

path#logo {
  fill: var(--theme-primary);
}

path#logo-passport {
  fill: var(--theme-primary);
}

path#logo-skii {
  fill: #fe7800;
}

path#logo-github {
  fill: var(--github-primary);
}

path#fonts {
  fill: var(--font-color);
}

button[primary] {
  background-color: var(--theme-primary);
}

button[primary]:hover {
  background-color: var(--theme-primary-hover);
}

button[secondary] {
  background-color: var(--btn-sec-bg);
  color: var(--font-color);
  font-weight: var(--font-weight);
}

button[secondary]:hover {
  background-color: var(--btn-sec-hover-bg);
}

button[secondary-aquatic-ui]:disabled {
  border: 1px solid var(--btn-sec-bg);
  color: var(--font-color);
  background-color: unset;
  font-weight: var(--font-weight);
  cursor: default;
}

button[secondary-wechat]:disabled {
  border: 1px solid var(--btn-sec-bg);
  color: var(--font-color);
  background-color: unset;
  cursor: default;
}


button[primary-skii] {
  background-color: #fe7800;
  margin-bottom: -4px;
}

button[primary-skii]:hover {
  background-color: var(--skii-primary-hover);
}

button[primary-bili] {
  background-color: #fb7299;
}

button[primary-bili]:hover {
  background-color: var(--bili-primary-hover);
}

button[primary-wonderfile] {
  background-color: #fcb03e;
  margin-bottom: -4px;
}

button[primary-wonderfile]:hover {
  background-color: var(--wonderfile-primary-hover);
}

button[primary-github] {
  background-color: var(--github-primary-btn);
  margin-bottom: -4px;
}

button[primary-github]:hover {
  background-color: var(--github-primary-btn-hover);
}

.qrcode {
  /* transform: scale(1,0); */
  position: fixed;
  transition: all 0.25s ease-in-out;
  padding: 24px;
  background-color: var(--card-bg-hover);
  opacity: 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 16px;
  width: 256px;
  height: 224px;
  top: 0;
  left: 0;
  color: var(--font-color);
  font-size: 13px;
  font-family: 'Figtree', 'Noto Sans SC', system-ui;
  font-weight: var(--font-weight);

  img {
    border-radius: 6px;
    padding: 8px;
    background-color: #FFFFFF;
  }
}

button {
  border-radius: 6px;
  border: none;
  color: #FFFFFF;
  font-family: 'Figtree', 'Noto Sans SC', system-ui;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  min-width: 96px;
  width: 100%;
  cursor: pointer;
  font-weight: var(--font-weight);
}

.qrcode:hover,
.qrcode:focus,
.qrcode:active {
  /* transform: scale(1,1); */
  opacity: 1;
  top: 0px;
}

.buttonbox {
  display: flex;
  width: 100%;
  gap: 8px;
  box-sizing: border-box;
  width: 256px;
}